<html>

<head>
	<title>SpaceShip by Team Astronauts</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	<link rel="manifest" href="/site.webmanifest">
	<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

	<!-- Fonts to use  -->
	<link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;800&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://code.jquery.com/mobile/1.0/jquery.mobile-1.0.min.css" />
	<link href="/css/index.css" rel="stylesheet">
	<script src="/js/index.js"></script>

	<!-- added for the login page -->
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>

	<!-- added for facebook login -->
	{{>facebook}}
</head>

<body>
	<div class="landing-page">
		<img src="css/icons/rocketlaunch.png" class="rocket">
		<label class="title"> SPACESHIP </label>
		<h6 class="slogan"> Taking your shipping effiency to the moon </h6>
		<!-- <style>
			.width: 413px;
			.height: 54px;
			.overflow: visible;
			.text-shadow: 5px 5px 4px #16202b;
			.font-weight: 700;
			.font-style: normal;
			.font-family: "Orbitron", serif;
			.color: #fff8f8;
			.font-size: 36px;
			.letter-spacing: 6.4799999999999995px;
			.line-height: 1.2;
			.text-align: left;
		</style> -->
	</div>
	{{!-- <div id="fb-root"></div>
	<script async defer crossorigin="anonymous"
		src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v10.0&appId=871535100365644&autoLogAppEvents=1"
		nonce="LFSi1btm">
	</script> --}}
	<div class="container">
		<!-- <div class="card card-container"> -->
		<!-- <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" /> -->
		{{!-- <p id="greeting"></p>
		<div class="Login">
			<!-- <b style="margin-bottom: 2rem;">Please login through Facebook</b> -->
			<div class="fb-login-button" data-width="" data-size="medium" data-button-type="continue_with"
				data-layout="default" data-auto-logout-link="false" data-use-continue-as="false" onlogin="authUser();">
			</div>
		</div> --}}
		<hr class="hr">
		<nav class="navCol">
		</nav>
		<!-- </div>/card-container -->
	</div><!-- /container -->
</body>

</html>