<html>

<head>
	<title>SpaceShip by Team Astronauts</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
	<link rel="stylesheet" href="https://code.jquery.com/mobile/1.0/jquery.mobile-1.0.min.css" />

	<link href="/css/index.css" rel="stylesheet">
	<script src="/js/index.js"></script>

	<!-- added for the login page -->
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>

	<!-- added for facebook login -->
	{{>facebook}}
</head>

<body>
	<div id="fb-root"></div>
	<script async defer crossorigin="anonymous"
		src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v10.0&appId=871535100365644&autoLogAppEvents=1"
		nonce="LFSi1btm">
		</script>
	<div class="container">
		<div class="card card-container">
			<img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
			<p id="profile-name" class="profile-name-card"></p>
			<div class="Login">
				<b style="margin-bottom: 2rem;">Please login through Facebook</b>
				<div class="fb-login-button" data-width="" data-size="medium" data-button-type="continue_with"
					data-layout="default" data-auto-logout-link="false" data-use-continue-as="false"
					onlogin="authUser();"></div>
			</div>
			<hr class="hr">
			<nav class="navCol">
			</nav>
		</div><!-- /card-container -->
	</div><!-- /container -->
</body>

</html>