html {
    min-height: 100%;
    font-family: 'Orbitron', serif;
}

body {

    background-image: linear-gradient(180.00000327387772deg, #16202b 0%, 
        rgba(23,53,80,1) 28.64583432674408%, 
        rgba(32,60,130,0.8500000238418579) 41.66666567325592%, 
        rgba(79,108,201,1) 51.04166865348816%, 
        rgba(100,98,205,0.832914412021637) 69.79166865348816%, 
        rgba(35,55,163,0.6653777956962585) 93.22916865348816%, 
        rgba(79,96,247,0.7900000214576721) 98.4375%);
    justify-content: center;
    font-family: 'Orbitron', serif;
    color: white;
    height: 100%;
    /*overflow: hidden;
   /* position: relative;
    height: 100%;*/

   /* text-shadow: 5px 5px 4px #16202b;
    font-weight: 700;
    font-style: normal;
    font-family: "Orbitron", serif;
    color: #fff8f8;
    font-size: 36px;
    letter-spacing: 6.4799999999999995px;
    line-height: 1.2;
    text-align: left; */
}

.landing-page {
    margin-top: 50;
    justify-content: center;
    padding: 2rem;
    font-family: 'Orbitron', serif;
    color: white;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.flex-col {
    display: flex;
    flex-direction: column;
}
.title{
    /*width: 413px;
    height: 54px;*/
/*    width: 20rem;
    height: 20rem;*/
    /*overflow: visible;*/
    margin-left: auto;
    margin-right: auto;
    text-shadow: 5px 5px 4px #16202b;
    font-weight: 600;
    font-style: normal;
    font-family: "Orbitron", serif;
    color: #fff8f8;
    font-size: 3.6rem;
    letter-spacing: 6.4799999999999995px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*line-height: 1.2;*/
    /*text-align: center;*/
}

/*.rocket {
    margin-top: 150;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
    transform: rotate(45deg);
    text-shadow: 5px 5px 4px #16202b;*/
/*}*/


.btn {
    font-weight: 700;
    height: 40px;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    /*cursor: default;*/
}

.rocket {
    width: 40%;
    height: 50%;
    transform: rotate(45deg);
    /*overflow: visible;*/
    /*text-shadow: 5px 5px 4px #16202b;*/
    /*font-weight: 700;*/
    /*font-style: normal;*/
    /*font-family: "Orbitron", serif;*/
    /*color: #fff8f8;*/
    /*font-size: 36px;*/
    /*letter-spacing: 6.4799999999999995px;*/
    /*line-height: 1.2;*/
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.slogan{
    color:white;
    /* font-size: 1.1rem; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/*.checkbox {
    position: inherit !important;
}

.checkbox input {
    position: inherit !important;
}*/

.fb-root {
    margin-top: -30;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*height: 1100px;*/
    /*width: 250px;
    height: 36px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background-color: #0c205f;
    overflow: hidden;
    border-radius: 5px;*/
}

#greeting {
    text-align: center;
    font-family: 'Orbitron', serif;
    color: white;
    font-size: 2rem;
    font-weight: 600;
}

.hr {
    border-top: 1.5px solid #000;
}

.navCol {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navCol a {
    margin: 1rem 0;
    font-size: 1.75rem;
    font-family: 'Orbitron', serif;
    color: white;
}