body {
    background-color: #172635;
    font-family: 'Arial', sans-serif;
    font-size: 1.5rem;
}

header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    font-size:14px;
    letter-spacing: 2.1px;
    line-height:1.2;
    text-align:left;
    font-family: 'Orbitron', serif;
    font-style: normal;
    background: #738BD8;
}


/* STYLE NOTES: off white text: #3A3B3C , 
 *              header light gray: #2F3136,
 *              main background dark gray: #242526,
 *              text input color: #40444B;

 */
.headerbar {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #2F3136;
    padding: 0 4vw;
    font-size:14px;
    letter-spacing: 2.1px;
    line-height:1.2;
    text-align:left;
    font-family: 'Orbitron', serif;
    font-style: normal;
    background: #738BD8;
}

.logo {
    display: flex;
    align-items: center;
    justify-self: start;
    color: white; 
}

/* 'spaceship' logo in header */
.logo span {
    /*font-family; 'Open Sans', sans-serif;*/
    font-size: 14px;
    font-weight: 800;
    color: white;
    /*background: ;*/
}

.menuBtn {
    font-size: 14px;
    display: flex;
    align-items: center;
    /*justify-self: end;*/
    color: white;
}

/* menu once dropped down from hamburger */ 
.menu {
    position: absolute;
    z-index: -1;
    width: 100%;
    top: 70px;
    font-style: normal;
    left: 0;
    height: calc(100vh - 70px);
    /*background: #2F3136;*/
    transform: translateY(-100%);
    transition: transform .25s ease;
    background: #738BD8;
    font-weight: 800;
    letter-spacing: 3.2399999999999998px;
    font-size: 18px;
    line-height: 1.2;
    text-shadow: 5px 5px 4px rgba(0, 0, 0, 0.2);
}

.visible {
    transform: none;
}

.menu div {
    display: flex;
    flex-direction: column;
}

/* menu options once menu drops down */
.menu a {
    all: unset;
    width: 100%;
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu span {
    font-size: 1.4rem;
    font-weight: 500;
    cursor: pointer;
    color: #E4E6EB;
}


/* text of the mypackages page */
.mypackages {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #172635;
    font-family: 'Arial', serif;
    color: #E4E6EB;
}

/*formatting of 'My Packages' header*/
h3, .h3 {
    text-shadow: 0px 4px 4px #000000, 0px 4px 4px rgba(0,0,0,1), 0px 4px 4px rgba(0,0,0,1);
    font-weight: 600;
    font-style: normal;
    font-family: "Orbitron", serif;
    /*color: white;*/
    font-size: 23px;
}

.package {
    display:flex;
    flex-direction: column;
    width: 90%;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #405088;
    color: white;
    border-radius: 8px 8px 8px 8px;
    margin-bottom: 2rem;
}
