body {
    background-color: gray;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.4rem;
}

header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
}


/* STYLE NOTES: off white text: #3A3B3C , 
 *              header light gray: #2F3136,
 *              main background dark gray: #242526,
 *              text input color: #40444B;

 */

.headerbar {
    height: 100%;
    z-index: 100;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #2F3136;
    padding: 0 4vw;
}

.logo {
    display: flex;
    align-items: center;
    justify-self: start;
    color: white;
}

.logo span {
    font-size: 2.5rem;
    font-weight: 900;
    color: #E4E6EB;
}

.menuBtn {
    display: flex;
    align-items: center;
    justify-self: end;
}

.menu {
    position: absolute;
    z-index: -1;
    width: 100%;
    top: 70px;
    left: 0;
    height: calc(100vh - 70px);
    background: #2F3136;
    transform: translateY(-100%);
    transition: transform .25s ease;
}

.visible {
    transform: none;
}

.menu div {
    display: flex;
    flex-direction: column;
}

.menu a {
    all: unset;
    width: 100%;
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu span {
    font-size: 2rem;
    font-weight: 700;
    color: #E4E6EB;
}

/* background of the results page */
.results {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #242526;
    color: #E4E6EB;
}

.details {
    display: flex;
    flex-direction: column;
    width: 90%;
    padding: 1rem 2rem;
    /*background-color: rgb(201, 201, 201);*/
    background-color: #40444B;
    border-radius: 8px 8px 8px 8px;
    margin: 2rem 0;
}

.detail-location {
    display: flex;
    flex-direction: row;
    color: #C9C9C9;
}

.options {
    display:flex;
    flex-direction: row;
    width: 90%;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #6B717C;
    border-radius: 8px 8px 8px 8px;
    margin-bottom: 2rem;
}

.img {
    height: 100%;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.carrierimg {
    max-width: 100px;
    max-height: 70px;
}


btn.btn-signin {
    background-color: #1C3E5E; 
    margin-top: 6vh;
    padding: -4px;
    font-weight: 700;
    font-size: 14px;
    height: 36px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: none;
    -o-transition: all 0.218s;
    -moz-transition: all 0.218s;
    -webkit-transition: all 0.218s;
    transition: all 0.218s;
}

.btn.btn-signin:hover,
.btn.btn-signin:active,
.btn.btn-signin:focus {